/* Navbar Styles */
.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    background-color: #0C4B6E;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1200px;
}

.navbar-logo img {
    max-height: 40px;
}

.navbar-links {
    display: flex;
    align-items: center;
    z-index: 99;
}

.navbar-links ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    margin-left: 1.5rem;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #F7910B;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar-links ul li a:hover {
    color: white;
}

@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
        width: 100%;
    }

    .navbar-links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: #0C4B6E;
        display: none;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        margin: 1rem 0;
    }

    .navbar-links ul li a {
        font-size: 1.2rem;
        padding: 1rem;
        text-align: center;
        width: 100%;
    }

    .navbar-toggle {
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 101;
    }

    .navbar-toggle img {
        height: 30px;
        width: 30px;
    }

    .navbar-links {
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    .navbar-links.active {
        max-height: 300px;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}