.search-container {
    /* width: 80%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.search-dropdowns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}


.search-dropdowns .dropdown {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray"><path d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 011.08 1.04l-4.25 4.25a.75.75 0 01-1.08 0L5.25 8.27a.75.75 0 01-.02-1.06z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    margin: 0 10px;
    box-sizing: border-box;
}

.search-row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}


.dropdown:disabled {
    background-color: #f2f2f2;
    color: #999;
    cursor: not-allowed;
}


.bible-content {
    position: relative;
    width: 100%;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-family: 'Georgia', serif;
    color: #333;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin-bottom: 20px;

}

.bible-content p {
    margin-bottom: 20px;
}

.search-container select {
    cursor: pointer;
}


.nav-button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.nav-button.left {
    left: -25px;
}

.nav-button.right {
    right: -25px;
}

.nav-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.header-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

/* For larger screens, display the title and version selector in a row */
@media screen and (max-width: 768px) {
    .search-container {
        padding: 15px;
        flex-direction: column;
        width: 100%;
    }

    .header-row {
        flex-direction: row;
    }

    .header-row h2 {
        margin-right: 20px;
        /* Adds space between title and version selector */
    }

    .nav-button {
        position: static;
        margin: 10px auto;
        display: block;
        transform: none;
        /* Reset the transform for mobile screens */
    }

    .nav-button.left,
    .nav-button.right {
        margin-left: auto;
        margin-right: auto;
    }

    .search-dropdowns .dropdown {
        width: 100%;
        /* Full width on mobile */
        font-size: 14px;
        background-position: right 15px center;
        /* Adjust icon position for mobile */
    }
}