/* .main-section {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
} */

.main-section h2,
.main-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.main-section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.main-section ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.inline-link {
    color: #0070f3;
    text-decoration: none;
    font-weight: bold;
}

.inline-link:hover {
    text-decoration: underline;
}
